<!-- Contact Section -->
<section class="contact-section bg-black" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-3 mb-md-0">
                <div class="card1 py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-comment-dots text-primary mb-2"></i>
                        <h3 class="text-uppercase m-0">Write to Prabhat</h3>
                        <hr class="my-4">
                        <form action="">
                            <div class="form-group">
                                <label style="text-align:left" for="name">Name</label>
                                <input type="text" class="form-control" id="name" placeholder="Enter your name"
                                    name="Name" aria-label="Name" required>
                            </div>
                            <div class="form-group">
                                <label for="contact">Contact #</label>
                                <input type="tel" class="form-control" id="contact" placeholder="Enter your contact no."
                                    name="Contact #" aria-label="Contact number" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" name="Email id" aria-describedby="emailHelp"
                                    placeholder="abc@mail.com" required>
                            </div>
                            <div class="form-group">
                                <label for="message">Message</label>
                                <textarea class="form-control" name="message" id="message"
                                    placeholder="Enter your message" rows="3" aria-label="message" spellcheck="false"
                                    required></textarea>
                            </div>
                            <input type="submit" class="btn btn-info1" value="Submit" aria-label="Submit button">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-3 mb-md-0">
                <div class="card1 py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-certificate text-primary mb-2"></i>
                        <h3 class="text-uppercase m-0">Join Prabhat</h3>
                        <hr class="my-4">
                        <h4 class="text-uppercase my-4">Join the Temple of Art.<br>Book to enroll in our courses.</h4>
                        <a href="">
                            <h3 class="h2b">Bharatanatyam Dance</h3>
                        </a>
                        <hr class="my-4">
                        <a href="">
                            <h3 class="h2b">Kathak Dance</h3>
                        </a>
                        <hr class="my-4">
                        <a href="">
                            <h3 class="h2b">Karnatic Music</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-link text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">links</h4>
                        <hr class="my-4">
                        <div class="text-black-50">
                            <ul class="list-unstyled">
                                <li><a href="#">Home</a></li>
                                <li class="my-1"><a href="#">About us</a></li>
                                <li><a href="#">Our Repertoire</a></li>
                                <li class="my-1"><a href="#">Training</a></li>
                                <li><a href="#">Harikatha</a></li>
                                <li class="my-1"><a href="#">Costumes</a></li>
                                <li><a href="#">Gallery & Media</a></li>
                                <li class="mt-1"><a href="#">Register a course</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fab fa-pagelines text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Prabhat's Network</h4>
                        <hr class="my-4">
                        <ul class="list-unstyled">
                            <li><a href="https://www.padapa.in/">PADAPA</a></li>
                            <li class="my-1"><a href="https://www.sharatprabhath.com/">Sharat R Prabhath</a></li>
                            <li><a href="https://www.prabhathauditoriums.com">Prabhat Auditoriums</a></li>
                            <li class="my-1"><a href="http://www.prabhathstudios.com/">Prabhat Sound Studio</a></li>
                            <li><a href="http://www.prabhathstage.com/">Prabhat Lighting and Sound System</a></li>
                            <li class="my-1"><a href="http://artoholic.co.in/">Prabhath Event Managers</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Address</h4>
                        <hr class="my-4">
                        <div class="text-black">17, 5-A main, Obalappa Garden, KR road, Bangalore, KA - 560 070</div>
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Email</h4>
                        <hr class="my-4">
                        <div class="text-black-50">
                            <a href="mailto:info@prabhatha.com" target="_top">info@prabhatha.com</a>
                        </div>
                        <i class="fas fa-mobile-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Phone</h4>
                        <hr class="my-4">
                        <div class="text-black-50"><a href="tel:+919986881281">91-9986881281</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social d-flex justify-content-center">
            <a href="#" class="mx-2">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="mx-2">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="mx-2">
                <i class="fab fa-github"></i>
            </a>
        </div>
    </div>
</section>
<!-- Footer -->
<footer class="bg-black small text-center text-white-50">
    <div class="container">
        <h6>Made with <i class="fas fa-heart"></i> by <a href="https://www.tensketch.com/"
            aria-label="TenSketch link">TenSketch</a><br><br>Copyright &copy; Prabhat 2019</h6>
    </div>
</footer>