{{define "about_us"}}
<!-- About Section -->
<section id="about_us" class="about-section text-center">
  <div class="container">
      {{range $index, $val := .Site.Taxonomies.tags.about_us}}
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="text-white mb-4">{{$val.Page.Title}}</h2>
        <p class="text-white-50">{{$val.Page.Content}}</p>
      </div>
    </div>
    {{end}}
  </div>
</section>
{{end}}

<!-- the_company Section -->
{{define "the_company"}}
<section id="the_company" class="about-section text-center">
  <div class="container">
      {{range $index, $val := .Site.Taxonomies.tags.the_company}}
      <h1 class="text-center mb-5 text-uppercase">{{$val.Page.Title}}</h1>
      <div class="featured-text text-center text-lg-left">
          <p class="text-black-50 mb-0">{{ $val.Page.Content }}</p>
      </div> 
      {{end}}  
  </div>
</section>
  {{end}} 

  <!-- Co_Directors Section -->
  {{define "Co_Directors"}}
  <section id="Co_Directors" class="about-section text-center">
      <div class="container">
         
<div class="row justify-content-center no-gutters mb-5 mb-lg-0">
  <div class="col-lg-12">
    <div class="bg-black text-center h-100 project">
      <div class="d-flex h-100">
        <div class="project-text w-100 my-auto text-center text-lg-left">
            {{range $index, $val := .Site.Taxonomies.tags.Co_Directors}}
          <h4 class="text-white">{{$val.Page.Title}}</h4>
          <p class="mb-0 text-white-50">{{$val.Page.Content }}</p>
          {{end}}
          <hr class="d-none d-lg-block mb-0 ml-0">
        </div>
      </div>
    </div>
  </div>
</div>
      </div>
  </section>
{{end}}

<!-- Music_Composers_and_Collaborators -->
{{define "Music_Composers_and_Collaborators"}}
<section id="Music_Composers_and_Collaborators" class="about-section text-center">
    <div class="container">
<div class="row justify-content-center no-gutters">
  <div class="col-lg-12 order-lg-first">
    <div class="bg-black text-center h-100 project">
      <div class="d-flex h-100">
        <div class="project-text w-100 my-auto text-center text-lg-right">
            {{range $index, $val := .Site.Taxonomies.tags.Music_Composers_and_Collaborators}}
            <h4 class="text-white">{{$val.Page.Title}}</h4>
          <p class="mb-0 text-white-50">{{$val.Page.Content}}</p>
          {{end}}
          <hr class="d-none d-lg-block mb-0 mr-0">
        </div>
      </div>
    </div>
  </div>
</div>
  </div>
</section>
{{end}}

<!-- Overview -->
{{define "Overview"}}
<section id="Overview" class="py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-8">
          {{range $index, $val := .Site.Taxonomies.tags.Overview}}
          {{$val.Page.Content}}
          {{end}}
      </div> 
    </div>
  </div>
</section>
{{end}}