{{define "header"}}
<!-- Header -->
<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 text-uppercase">Prabhat</h1>
      <h2 class="text-white-50 mx-auto mt-2 mb-5">The Temple of Art</h2>
      <a href="#about" class="btn btn-primary js-scroll-trigger">Enter the temple</a>
    </div>
  </div>
</header>
{{end}}
{{define "about"}}
<!-- About Section -->
<section id="about" class="about-section text-center">
  <div class="container">
    {{range $index, $val := .Site.Taxonomies.tags.about}}
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="text-white mb-4">{{$val.Page.Title}}</h2>
        <div class="text-white-50">Prabhat, The Temple of Art is an internationally renowned artistic institution from
          India. The organization has created stage history with a unique blend of tradition along with sophisticated
          stage techniques of the present technological era.</div>
        <a href="{{$val.Page.Permalink}}">Read more</a>
      </div>
    </div>
    <img src="{{.Page.Params.Image}}" class="img-fluid" alt="{{.Name}}">
    {{end}}
  </div>
</section>
{{end}}
{{define "repertoire"}}
<!-- repertoire Section -->
<section id="repertoire" class="projects-section bg-light">
  <div class="container">
    {{range where .Site.Pages "Type" "=" "Repertoire"}}
    <h1 class="text-center mb-5 text-uppercase">{{.Title}}</h1>
    <div class="row align-items-center no-gutters mb-4 mb-lg-5">
      <div class="col-xl-8 col-lg-7" style="position: relative;">
        <img class="img-fluid mb-3 mb-lg-0" src="{{.Params.Image}}" alt="{{.Name}}">
        <div class="bottom-middle">
            <a href="{{.Permalink}}" class="pic-rm">Read More</a>
        </div>
        
      </div>
      <div class="col-xl-4 col-lg-5">
        <div class="featured-text text-center text-lg-left">
          <div class="text-black-50 mb-0">
              <p>Thematic dance productions.<br>
                  Dance Drama / Ballets.<br>
                  Classical dance sequences.<br></p>
          </div>
          <a href="{{.Permalink}}">Read More</a>
        </div>
      </div>
    </div>
    {{end}}
  </div>
</section>
{{end}}
{{define "training"}}
<section id="training" class="projects-section bg-light">
  <div class="container">
    {{range $index, $val := .Site.Taxonomies.tags.training}}
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
      <div class="col-lg-6">
        <img class="img-fluid" src="{{.Page.Params.Image}}" alt="{{.Name}}">
      </div>
      <div class="col-lg-6">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-left">
              <h4 class="text-white">{{$val.Page.Title}}</h4>
              <p class="mb-0 text-white-50">
                SAMUDYATA - Srichakra Academy of Music, Dance, Yoga, and Theatre Arts<br>
                Faculty.<br>
                Prabhat Kala Tapovana.<br>
              </p>
              <hr class="d-none d-lg-block mb-0 ml-0">
              <br>
              <a href="{{$val.Page.Permalink}}">Read more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{end}}
    {{range $index, $val := .Site.Taxonomies.tags.harikatha}}
    <div id="harikatha" class="row justify-content-center no-gutters">
        <div class="col-lg-6">
            <img class="img-fluid" src="{{.Page.Params.Image}}" alt="{{.Name}}">
          </div>
          <div class="col-lg-6 order-lg-first">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-right">
                  <h4 class="text-white">{{$val.Page.Title}}</h4>
                  <p class="mb-0 text-white-50">Karnataka’s <span class="font-italic">Haridaasa</span>’s cult arouses varied questions in one’s mind. The literary works of great saint poets of Karnataka answer questions relating to spiritual experiences, knowledge of Tantra, Vedic wisdom, Societal Culture, Music, Dance, theatre and the like.</p>
                  <hr class="d-none d-lg-block mb-0 mr-0">
                  <br>
                  <a href="{{$val.Page.Permalink}}">Read more</a>
                </div>
              </div>
            </div>
    </div>
    {{end}}
  </div>
</section>
{{end}}
{{define "gallery"}}
<section id="gallery" class="pb-0">
  <!-- gallery-new-fancybox-->
  <div class="container-fluid">
    <header class="text-center mb-4">
      <h2 class="text-uppercase mb-5">Prabhat's gallery</h2>
    </header>
    <div class="row p-0">
      {{range $index, $val := .Site.Taxonomies.categories.gallery}}
      <div class="col-lg-3 col-md-4 col-4 p-0">
        <a href="{{.Page.Params.image | absURL}}" class="fancybox" aria-label="Prabhat Gallery" rel="group">
          <img src="{{.Page.Params.image | absURL}}" class="zoom" alt="{{.Name}}">
        </a>
      </div>
      {{end}}
    </div>
  </div>
</section>
{{end}}

{{define "costumes"}}
  <!-- Signup Section -->
  <section id="costumes" class="signup-section">
      <div class="container">
          {{range $index, $val := .Site.Taxonomies.tags.costumes}}
        <div class="row">
          <div class="col-md-10 col-lg-8 mx-auto text-center">
              <h2 class="text-white">{{$val.Page.Title}}</h2>
            <p class="text-white">Founded in the year 1946, Prabhat Costume Designers is a company that, for the first time introduced professional costume designing venture in Karnataka. A pioneer that is synonymous to the word; Costumes is located in KR Road, Basavangudi and VV Puram.</p>   
            <a href="{{$val.Page.Permalink}}">Read more</a>
  
          </div>
        </div>
        {{end}}
      </div>
    </section>
{{end}}