{{define "header"}}
<!-- Header -->
<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 text-uppercase">Prabhat</h1>
      <h2 class="text-white-50 mx-auto mt-2 mb-5">The Temple of Art</h2>
      <a href="#about" class="btn btn-primary js-scroll-trigger">Enter the temple</a>
    </div>
  </div>
</header>
{{end}}

{{define "about"}}
<!-- About Section -->
<section id="about" class="about-section text-center">
  <div class="container">
      {{range $index, $val := .Site.Taxonomies.tags.about}}
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="text-white mb-4">{{$val.Page.Title}}</h2>
        <div class="text-white-50">{{$val.Page.Content}}</div>
        <a href="{{$val.Page.Permalink}}">Read more</a>
      </div>
    </div>
    <img src="{{.Page.Params.Image}}" class="img-fluid" alt="{{.Name}}">
    {{end}}
  </div>
</section>
{{end}}

{{define "projects"}}
<!-- Projects Section -->
<section id="projects" class="projects-section bg-light">
  <div class="container">
      <h1 class="text-center mb-5 text-uppercase">Prabhatha's Repertoire</h1>
    <!-- Featured Project Row -->
    {{range where .Site.Pages "Type" "=" "Repertoire"}}
    <div class="row align-items-center no-gutters mb-4 mb-lg-5">
      <div class="col-xl-8 col-lg-7">
        <img class="img-fluid mb-3 mb-lg-0" src="{{.Params.Image}}" alt="{{.Name}}">
      </div>
      <div class="col-xl-4 col-lg-5">
        <div class="featured-text text-center text-lg-left">
          <h4>{{.Title}}</h4>
          <div class="text-black-50 mb-0">{{ .Content }}</div>
          <a href="{{.Permalink}}">Read More</a>
        </div>
      </div>
    </div>
    {{end}}  
    
    <!-- Project One Row -->
{{range where .Site.Pages "Type" "=" "Repertoire1"}}
<div class="row justify-content-center no-gutters mb-5 mb-lg-0">
  <div class="col-lg-6">
    <img class="img-fluid" src="{{.Params.Image}}" alt="{{.Name}}">
  </div>
  <div class="col-lg-6">
    <div class="bg-black text-center h-100 project">
      <div class="d-flex h-100">
        <div class="project-text w-100 my-auto text-center text-lg-left">
          <h4 class="text-white">{{.Title}}</h4>
          <p class="mb-0 text-white-50">{{.Summary }}</p>
          <hr class="d-none d-lg-block mb-0 ml-0">
        </div>
      </div>
    </div>
  </div>
</div>
{{end}}

<!-- Project Two Row -->
{{range where .Site.Pages "Type" "=" "Repertoire2"}}
<div class="row justify-content-center no-gutters">
  <div class="col-lg-6">
      <img class="img-fluid" src="{{.Params.Image}}" alt="{{.Name}}">
  </div>
  <div class="col-lg-6 order-lg-first">
    <div class="bg-black text-center h-100 project">
      <div class="d-flex h-100">
        <div class="project-text w-100 my-auto text-center text-lg-right">
            <h4 class="text-white">{{.Title}}</h4>
          <p class="mb-0 text-white-50">{{ .Summary }}</p>
          <hr class="d-none d-lg-block mb-0 mr-0">
        </div>
      </div>
    </div>
  </div>
</div>
{{end}}
  </div>
</section>
{{end}}

{{define "gallery"}}
<section id="portfolio" class="pb-0">
  <!-- gallery-new-fancybox-->
 <div class="container-fluid">
    <header class="text-center mb-4">
        <h2 class="text-uppercase mb-5">Prabhat's Portfolio</h2>
      </header>
      <div class="row p-0">
          {{range $index, $val := .Site.Taxonomies.categories.gallery}}
          <div class="col-lg-3 col-md-4 col-6 p-0">
          <a href="{{.Page.Params.image | absURL}}" class="fancybox" aria-label="Prabhat Gallery" rel="group">
            <img src="{{.Page.Params.image | absURL}}" class="zoom" alt="{{.Name}}">
          </a>
        </div>
        {{end}}
      </div>
 </div>
</section>
{{end}}

