<!DOCTYPE html>
<html lang="en">
{{partial "head" .}}

<body>
    {{partial "singlenav" .}}
    <section class="reper-bg parallax">
        <div class="overlay-lt">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mx-auto text-center text-white">
                        {{range $index, $val := .Site.Taxonomies.tags.about}}
                        <h2 id="sh2">{{.Title}}</h2>
                        {{end}}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container mb-5">
        {{range $index, $val := .Site.Taxonomies.tags.about}}
        <div class="row">
            <div class="col-md-8 mx-auto">
                {{.Content}}
            </div>
        </div>
        {{end}}
        <h2 class="text-center my-5 pt-3">Artistic Directors</h2>
        {{range $index, $val := .Site.Taxonomies.tags.about1}}
        <div class="row my-5">
            <div class="col-md-7 mx-auto">
                {{.Content}}
                <a href={{.Params.pdf}} target="_blank" rel="noopener" class="href-pdf">Download Profile:&nbsp;<i
                        class="fas fa-file-pdf fa-3x" aria-hidden="true"></i></a>
            </div>
            <div class="col-md-4">
                <img class="img-fluid" src="{{.Params.Image}}" alt="{{.Name}}">
            </div>
        </div>
        {{end}}
    </div>
    {{partial "footer" .}}
    {{partial "scripts" .}}
</body>

</html>