<!DOCTYPE html>
<html lang="en">
{{partial "head" .}}

<body style="background: #000">
    {{partial "singlenav" .}}
    <div class="micro">
    </div>
    <hr style="margin-top: 4rem" >
    <h2 class="text-center text-white py-4">Prabhat's Repertoire</h2>    
<div class="sidebar">
  <a href="#tdp">Thematic Dance Productions</a>
  <a href="#ddb">Dance Drama and Ballets</a>
  <a href="#cds">Classical dance sequences</a>
</div>

<div class="content">   
    <section id="tdp" class="reper parallax">
            <div class="parallax-overlay" style="padding: 6rem 0rem;">
                <div class="container-fluid">
                        <h3 class="text-center font-weight-bold my-5 pt-3">Thematic Dance Productions</h3>
                        {{range $index, $val := .Site.Taxonomies.tags.tdp}}
                    
                    
                    <div class="row">
                        <div class="col-md-8 col-lg-8 mx-auto">
                            <p class="text-white">{{.Content}}</p>
                        </div>
                        <div class="col-md-4 col-lg-4 mx-auto">
                            <img src="{{.Page.Params.Image}}" class="img-thumbnail" alt="{{.Name}}">
                        </div>
                    </div>
                    {{end}}
                </div>
            </div>
        </section>
    <section id="ddb" class="parallax" style="background: #7a7a7a85;padding: 6rem 0rem">
            
                <div class="container-fluid">
                        <h3 class="text-center font-weight-bold my-5 pt-3">Dance Drama and Ballets</h3>
                        {{range $index, $val := .Site.Taxonomies.tags.ddb}}
                    
                    
                    <div class="row">
                            <div class="col-md-4 col-lg-4 mx-auto">
                                    <img src="{{.Page.Params.Image}}" class="img-thumbnail" alt="{{.Name}}">
                                </div>
                        <div class="col-md-8 col-lg-8 mx-auto">
                            <p class="text-white">{{.Content}}</p>
                        </div>
                        
                    </div>
                    {{end}}
                </div>
            
        </section>
    <section id="cds" class="cds parallax">
        <div class="parallax-overlay" style="padding: 6rem 0rem;">
            <div class="container-fluid">
                    <h3 class="text-center font-weight-bold my-5 pt-3">Classical dance sequences</h3>
                    {{range $index, $val := .Site.Taxonomies.tags.cds}}
                
                
                <div class="row">
                    <div class="col-md-8 col-lg-8 mx-auto">
                        <p class="text-white">{{.Content}}</p>
                    </div>
                    <div class="col-md-4 col-lg-4 mx-auto">
                        <img src="{{.Page.Params.Image}}" class="img-thumbnail" alt="{{.Name}}">
                    </div>
                </div>
                {{end}}
            </div>
        </div>
    </section>
    {{partial "footer" .}}
</div>
    
    {{partial "scripts" .}}
    {{partial "youtube" .}}
</body>

</html>