{{define "header"}}
<!-- Header -->
<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 text-uppercase">Prabhat</h1>
      <h2 class="text-white-50 mx-auto mt-2 mb-5">The Temple of Art</h2>
      <a href="#about" class="btn btn-success js-scroll-trigger">Enter the temple</a>
      <a href="#" class="btn btn-primary js-scroll-trigger ml-5">Join Prabhat</a>
    </div>
  </div>
</header>
{{end}}
{{define "about"}}
<!-- About Section -->
<section id="about" class="about-section text-center">
  <div class="container">
    {{range $index, $val := .Site.Taxonomies.tags.about}}
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="text-white mb-4">{{$val.Page.Title}}</h2>
        <div class="text-white">Prabhat, The Temple of Art is an internationally renowned artistic institution from
          India. The organization has created stage history with a unique blend of tradition along with sophisticated
          stage techniques of the present technological era.</div>
        <a href="{{$val.Page.Permalink}}" class="href-a">Read more</a>
      </div>
    </div>
    <img src="{{.Page.Params.Image}}" class="img-fluid3" alt="{{.Name}}">
    {{end}}
  </div>
</section>
{{end}}
{{define "repertoire"}}
<!-- repertoire Section -->
<section id="repertoire" class="projects-section">
  <div class="container">
    {{range where .Site.Pages "Type" "=" "Repertoire"}}
    
    <div class="row align-items-center no-gutters mb-4 mb-lg-5">
      <div class="col-xl-8 col-lg-7" style="position: relative;">
        <img class="img-fluid mb-3 mb-lg-0" src="{{.Params.Image}}" alt="{{.Name}}">
        <div class="bottom-right">
          <a href="{{.Permalink}}" class="btn btn-know js-scroll-trigger">Know More</a>
          <!-- <a href="{{.Permalink}}" class="pic-rm">Read More</a> -->
        </div>
      </div>
      <div class="col-xl-4 col-lg-5">
        <div class="featured-text text-center text-lg-left">
          <div class="text-black mb-0">
              <h4 class="text-uppercase">{{.Title}}</h4>
            <p>Thematic dance productions.<br>
              Dance Drama / Ballets.<br>
              Classical dance sequences.<br></p>
          </div>
          <a href="{{.Permalink}}"style="text-decoration: underline">Read More</a>
        </div>
      </div>
    </div>
    {{end}}
  </div>
</section>
{{end}}
{{define "training"}}
<section id="training" class="projects-section bg-light">
  <div class="container">
    {{range $index, $val := .Site.Taxonomies.tags.training}}
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
      <div class="col-lg-6">
        <img class="img-fluid" src="{{.Page.Params.Image}}" alt="{{.Name}}">
      </div>
      <div class="col-lg-6">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-left">
              <h4 class="text-white">{{$val.Page.Title}}</h4>
              <p class="mb-0 text-white-50">
                SAMUDYATA - Srichakra Academy of Music, Dance, Yoga, and Theatre Arts<br>
                Faculty.<br>
                Prabhat Kala Tapovana.<br>
              </p>
              <hr class="d-none d-lg-block mb-0 ml-0">
              <br>
              <a href="{{$val.Page.Permalink}}" class="href-a">Read more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{end}}
    {{range $index, $val := .Site.Taxonomies.tags.harikatha}}
    <div id="harikatha" class="row justify-content-center no-gutters">
      <div class="col-lg-6">
        <img class="img-fluid" src="{{.Page.Params.Image}}" alt="{{.Name}}">
      </div>
      <div class="col-lg-6 order-lg-first">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-right">
              <h4 class="text-white">{{$val.Page.Title}}</h4>
              <p class="mb-0 text-white-50">Karnataka’s <span class="font-italic">Haridaasa</span>’s cult arouses varied
                questions in one’s mind. The literary works of great saint poets of Karnataka answer questions relating
                to spiritual experiences, knowledge of Tantra, Vedic wisdom, Societal Culture, Music, Dance, theatre and
                the like.</p>
              <hr class="d-none d-lg-block mb-0 mr-0">
              <br>
              <a href="{{$val.Page.Permalink}}" class="href-a">Read more</a>
            </div>
          </div>
        </div>
      </div>
      {{end}}
    </div>
</section>
{{end}}
{{define "gallery"}}
<section id="gallery" class="py-5">
  <!-- gallery-new-fancybox-->
  <div class="container-fluid">
    <header class="text-center mb-4">
      <h2 class="text-uppercase mb-5">Prabhat's gallery</h2>
    </header>
    <div class="row p-0">
      {{range $index, $val := .Site.Taxonomies.categories.gallery}}
      <div class="col-lg-3 col-md-4 col-4 p-0">
        <a href="{{.Page.Params.image}}" class="fancybox" aria-label="Prabhat Gallery" rel="group">
          <img src="{{.Page.Params.image}}" class="zoom" alt="{{.Name}}">
        </a>
      </div>
      {{end}}
    </div>
  </div>
</section>
{{end}}
{{define "media"}}
<section id="gallery" class="py-5 bg-dark">
  <!-- gallery-new-fancybox-->
  <div class="container-fluid">
    <header class="text-center mb-4">
      <h2 class="text-uppercase mb-5 text-white">Prabhat's media</h2>
    </header>
    <div class="row">
      {{range $index, $val := .Site.Taxonomies.categories.media}}
      <div class="col-lg-3 col-md-4 col-4">
        <a href="{{.Page.Params.image}}" class="fancybox" aria-label="Prabhat media" rel="group">
          <img src="{{.Page.Params.image}}" class="zoom" style="border: 1px solid; margin: .5rem"alt="{{.Name}}">
        </a>
      </div>
      {{end}}
    </div>
  </div>
</section>
{{end}}
{{define "costumes"}}
<!-- Signup Section -->
<section id="costumes" class="signup-section">
  <div class="container">
    {{range $index, $val := .Site.Taxonomies.tags.costumes}}
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto text-center" style="background:#3c2d2d6b">
        <h2 class="text-white">{{$val.Page.Title}}</h2>
        <p class="text-white">{{.Summary}}</p>
        <a href="{{$val.Page.Permalink}}" class="href-a">Read more</a>
      </div>
    </div>
    {{end}} 
      
  </div>
</section>
{{end}}

{{define "soon"}}
<!-- Header -->
<header class="soon pb-5">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
        <img src="/images/logo2.png" class="img-fluid2" alt="Prabhat logo">
      <h1 class="mx-auto my-5 text-uppercase">Prabhat</h1>
      <h2 class="text-white mx-auto mt-2 mb-5"style="font-size:2rem" >The Temple of Art</h2>
      <h3 class="mx-auto mt-2 mb-5" style="color: #bca227">We are rebuilding our new site</h3>
      <a href="#footer" class="btn btn-primary js-scroll-trigger">Contact Prabhat</a>
      
    </div>
  </div>
</header>
<div class="iframe-container">
    <iframe src="https://www.youtube.com/embed/0diKzgDCgIo?vq=hd1080&autoplay=1&rel=0&cc_load_policy=1&iv_load_policy=3" width="560" height="315" frameborder="0"></iframe>
  </div>
<!-- Contact Section -->
<section class="contact-section pt-5" id="footer" style="background:linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.33) 75%), url(../images/train13.jpg);background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover; ">
    <div class="container">
        <div class="row">
            
            <div class="col-md-12 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Address</h4>
                        <hr class="my-4">
                        <div class="text-black">17, 5-A main, Obalappa Garden, KR road, Bangalore, KA - 560 070</div>
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Email</h4>
                        <hr class="my-4">
                        <div class="text-black-50">
                            <a href="mailto:sharatrprabhath@gmail.com" target="_top">sharatrprabhath@gmail.com</a>
                        </div>
                        <i class="fas fa-mobile-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Phone</h4>
                        <hr class="my-4">
                        <div class="text-black-50"><a href="tel:+919986881281">91-9986881281</a></div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>
<!-- Footer -->
<footer class="bg-black small text-center text-white-50">
    <div class="container">
        <h6>Made with <i class="fas fa-heart"></i>&nbsp;by <a href="https://www.tensketch.com/" class="href-a"
                aria-label="TenSketch link">TenSketch</a><br><br>Copyright &copy; Prabhat 2019</h6>
    </div>
</footer>
{{end}}