<!DOCTYPE html>
<html lang="en">
{{partial "head" .}}
<body>
    {{partial "singlenav" .}}
    <!-- Signup Section -->
    <section class="join">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto text-center">
                    <form action="">
                        <div class="form-group">
                            <!-- <label style="text-align:left" for="parent-name">Name of the Parent</label> -->
                            <input type="text" class="form-control" id="parent-name" placeholder="Enter Parent's name" name="Name of the Parent"
                                aria-label="Name of the Parent" required>
                        </div>
                        <div class="form-group">
                                <!-- <label style="text-align:left" for="student-name">Name of the Student</label> -->
                                <input type="text" class="form-control" id="student-name" placeholder="Enter student's name" name="Name of the Student"
                                    aria-label="Name of the Student" required>
                            </div>
                            <div class="form-group">
                                    <!-- <label style="text-align:left" for="Institution branch area">Institution branch area</label> -->
                                    <input type="text" class="form-control" id="Institution branch area" placeholder="Enter Institution branch area" name="Institution branch area"
                                        aria-label="Institution branch area" required>
                                </div>
                        <div class="form-group">
                            <!-- <label for="contact">Contact #</label> -->
                            <input type="tel" class="form-control" id="contact" placeholder="Enter your contact no."
                                name="Contact #" aria-label="Contact number" required>
                        </div>
                        <div class="form-group">
                            <!-- <label for="email">Email</label> -->
                            <input type="email" class="form-control" name="Email id" aria-describedby="emailHelp"
                                placeholder="abc@mail.com" required>
                        </div>
                        <div class="form-group">
                                <!-- <label style="text-align:left" for="Profession">Profession</label> -->
                                <input type="text" class="form-control" id="Profession" placeholder="Enter your Profession" name="Profession"
                                    aria-label="Profession" required>
                            </div>
                        <input type="submit" class="btn btn-info1" value="Submit" aria-label="Submit button">
                    </form>
                </div>
            </div>
        </div>
    </section>
    {{partial "footer" .}}
    {{partial "scripts" .}}
</body>
</html>