<!DOCTYPE html>
<html lang="en">
{{partial "head" .}}

<body class="bg-black">
  {{partial "singlenav" .}}
  <section class="gallery-bg parallax">
    <div class="overlay-lt">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto text-center text-white">
            <h2 id="sh2">explore our rich portfolio and media clippings</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{partial "fancyboxcss" .}}
  <section id="portfolio" class="pt-5">
    <div class="container">
      <h2 class="my-4 text-center text-white">Gallery</h2>
      <div class="row">
        {{range $index, $val := .Site.Taxonomies.categories.gallery}}
        <div class="col-lg-3 col-md-4 col-4 mb-4">
          <a data-fancybox="gallery" href="{{.Page.Params.image}}" aria-label="Prabhat Gallery">
            <img src="{{.Page.Params.image}}" alt="{{.Name}}">
          </a>
        </div>
        {{end}}
      </div>
      <h2 class="my-4 text-center text-white">Media</h2>
      <div class="row">
        {{range $index, $val := .Site.Taxonomies.categories.media}}
        <div class="col-lg-3 col-md-4 col-4 mb-4">
          <a data-fancybox="gallery" href="{{.Page.Params.image}}" aria-label="Prabhat media pics">
            <img src="{{.Page.Params.image}}" alt="{{.Name}}">
          </a>
        </div>
        {{end}}
      </div>
    </div>
  </section>
  {{partial "footer" .}}
  {{partial "scripts" .}}
  {{partial "fancyboxjs" .}}
</body>

</html>