@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  overflow-x: hidden;
  font-family: "Nunito", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.navbar-nav .nav-link {
  display: inline-block;
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  font-size: 1rem;
  padding-right: 1rem;
}
.dropdown:hover > .dropdown-menu {
  display: block;
}
.dropdown-item:hover {
  background-color: #0e3e6e;
  color: #fff;
}
.dropdown-item {
  color: rgb(22, 22, 22);
}
.affix {
  transition: 0.5s ease;
  background-color: #000;
}
.navbar-toggler {
  color: #bca227;
  border: 1px solid #bca227;
}
@media (max-width: 991px) {
  .navbar-collapse {
    background-color: #000;
  }
}
@media (max-width: 991px) {
  .navbar-nav {
    text-align: right;
  }
  #sh2 {
    top: 24rem !important;
  }
}
/* p {
  text-align: justify !important;
} */
h2,
h4,
h5 {
  /* text-transform: lowercase; */
  margin-top: 1rem;
}
a {
  color: #5a4d0b;
}
a:focus,
a:hover {
  text-decoration: none;
  color: #bca227;
}
.bg-black {
  background-color: #000 !important;
}
.text-black {
  color: #000;
}
.bg-primary {
  background-color: #bca227 !important;
}
.text-primary {
  color: #bca227 !important;
}
.btn {
  -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 0.8rem 1rem;
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
}
.btn-primary {
  background-color: #bca227;
}
.btn-primary:hover {
  background-color: #4f837f;
}
.btn-primary:focus {
  background-color: #4f837f;
  color: white;
}
.btn-primary:active {
  background-color: #467370 !important;
}
#about {
  background-image: url(/images/train30.jpg);
}
#about p {
  text-align: center !important;
}
.href-a {
  color: rgb(255, 208, 147);
  font-size: 1.2rem;
  text-decoration: none;
}
.pt-8 {
  padding-top: 8rem;
}
#repertoire {
  padding: 5rem 0;
}
#repertoire .featured-text {
  padding: 2rem;
}
.featured-text ul {
  list-style: none;
  padding-left: 0rem;
}
@media (min-width: 992px) {
  #repertoire .featured-text {
    padding: 0 0 0 2rem;
    border-left: 0.5rem solid #bca227;
  }
}
#training .project-text {
  padding: 3rem;
  font-size: 90%;
}
@media (min-width: 992px) {
  #training .project-text {
    padding: 5rem;
  }
  #training .project-text hr {
    border-color: #bca227;
    border-width: 0.25rem;
    width: 30%;
  }
}
#costumes p {
  text-align: center !important;
}
#news {
  padding: 8rem 0rem 3rem;
}
#fac h5 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.parallax ul,
#training ul {
  list-style: none;
  padding-left: 0;
}
.costumes-bg {
  background: url("/images/Cinema.jpg");
}
.reper-bg {
  background-image: url("/images/reper9.jpg");
}
#reper h2,
#reper h3 {
  text-transform: capitalize;
}
.training-bg {
  background: url("/images/train34.jpg");
}
.gallery-bg {
  background: url("/images/train34.jpg");
}
.overlay-lt {
  background: rgba(0, 0, 0, 0.493);
  height: 100vh;
}
hr {
  border: 1px solid #bca227;
}
blockquote {
  border-left: 2px solid #bca227;
  padding-left: 1rem;
}
/* mobiles */
@media (max-width: 576px) {
  .px-5 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  .mx-5 {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
  .pr-5 {
    padding: 1.5rem !important;
  }
  #news .card {
    margin: 1rem;
  }
  #sh2 {
    top: 22rem !important;
  }
}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .px-5 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
  .mx-5 {
    margin-left: 1.5rem !important;
    margin-right: 1.5rem !important;
  }
}
.join-bg {
  background-image: url("/images/join.jpg");
}
.ch {
  background-image: url("/images/costume-home.jpg");
}
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.overlay {
  background: #0a0a0aa8;
  padding: 10rem 0rem;
}
#sh2 {
  position: relative;
  top: 32rem;
}
@media (min-width: 991px) {
  .href-pdf:hover {
    color: #fff;
    transition: 0.5s ease;
  }
}
.href-pdf {
  color: #000;
  text-decoration: none;
}
.display-5 {
  font-size: 1.3rem;
}
#text {
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 24px;
  font-weight: bold;
  left: 5%;
  top: 90%;
}
#news img {
  max-width: 100%;
  height: auto;
  margin: 1rem 0rem;
}
#news .card {
  background-color: #bca227;
  color: #000;
}
#news .card a {
  color: #000;
  text-decoration: underline;
}
#news .card a:hover {
  color: #fff;
}
.events p {
  text-align: center !important;
  margin-bottom: 1.5rem;
}
.card-cost {
  background-color: transparent;
  border: none;
  border-radius: none;
}
.btn-info1 {
  color: #000;
  background-color: #bca227;
  border-color: #bca227;
}
.btn-info1:hover {
  color: #fff;
  background-color: #bca32775;
  border-color: #bca32775;
}
.btn-info1:focus,
.btn-info1.focus {
  box-shadow: 0 0 0 0.2rem #bca32775;
}
/* footer */
footer {
  padding: 8rem 0 3rem;
  background-color: #000;
  text-align: center;
}
footer a {
  color: #bca227;
  font-size: 1rem;
  text-decoration: none;
}
footer a:hover {
  color: #fff;
}
.form-control {
  border: 1px solid #bca227;
}
.form-control:focus {
  color: #212121;
  border-color: #bca227;
  box-shadow: 0 0 0.8rem 0.1rem #5a4d0b;
}
.bottom-footer {
  background-color: #fff;
  /* height: 20vh; */
  color: #000;
  padding-block: 1rem;
}
.bottom-footer a {
  color: #000;
  transition: 0.5s;
}
.bottom-footer p{
  margin-bottom: 0;
}
.bottom-footer a:hover {
  color: #5a4d0b;
}
.mt-custom{
  margin-top: 15rem!important;
}

/* Prabhistana */
/* body {
  background-color: #bca227;
  color: #000000;
  padding-top: 50px;
} */
.section {
  background-color: #ffffff;
  padding: 50px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.section-title {
  color: #bca227;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
}
.section-content {
  font-size: 18px;
  line-height: 1.6;
}

img.trustee{
 @media(min-width:786px){
  height: 350px;
  width: 100%;
  object-fit: cover;
  &:hover{
      box-shadow: 0px 0px 10px 3px #000;
      transition: all 0.3s ease-in-out;
  }
 }
}
.list-item {
  font-size: 18px;
  margin-bottom: 20px;
}
.icon {
  font-size: 24px;
  margin-right: 10px;
}