<!DOCTYPE html>
<html lang="en">
{{partial "head" .}}

<body class="bg-black">
    {{partial "singlenav" .}}
    <section class="training-bg parallax">
        <div class="overlay-lt">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mx-auto text-center text-white">
                        {{range $index, $val := .Site.Taxonomies.tags.training}}
                        <h2 id="sh2">{{.Title}}</h2>
                        {{end}}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <h3 class="text-center text-white pt-5 mb-3">SAMUDYATA (Srichakra Academy of Music, Dance, Yoga, and Theatre
            Arts)
        </h3>
        <div class="row">
            {{range $index, $val := .Site.Taxonomies.categories.samudyata}}
            <div class="col-md-6">
                <div class="card card-cost">
                    <div class="card-body">
                        <h4 class="card-title text-white text-center">{{.Title}}</h4>
                    </div>
                    <img src="{{.Page.Params.image}}" class="img-fluid" alt="{{.Name}}">
                    <p id="text">{{.Summary}}</p>
                </div>
            </div>
            {{end}}
        </div>
    </div>
    <section id="fac">
        <div class="container h-100">
            <h3 class="text-center text-white pt-5 my-3 text-lowercase">Faculty</h3>
            {{range $index, $val := .Site.Taxonomies.tags.fac}}
            <div class="row my-3  h-100 justify-content-center align-items-center">
                <div class="col-md-7 mx-auto text-white">
                    <h4 class="text-center">{{.Title}}</h4>
                    {{.Content}}
                </div>
                <div class="col-md-4">
                    <img src="{{.Page.Params.Image}}" class="img-fluid" alt="{{.Name}}">
                </div>
            </div>
            {{end}}
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                {{range $index, $val := .Site.Taxonomies.tags.pkt}}
                <h3 class="text-center text-white my-5">{{.Title}}</h3>
                <div class="youtube-player youtube" data-id="{{.Content}}"></div>
                {{end}}
            </div>
        </div>
    </div>
    </section>
    {{partial "footer" .}} {{partial "scripts" .}} {{partial "youtube" .}}
</body>

</html>