<!DOCTYPE html>
<html lang="en">
{{partial "head" .}}

<body>
    {{partial "singlenav"}}
    <section class="reper-bg">
        <div class="overlay pt-12">
            <div class="container h-100">
                <div class="row h-100 justify-content-center align-items-center">

                </div>
                {{range $index, $val := .Site.Taxonomies.tags.repertoire}}
                <h2 class="text-center text-white">{{.Title}}</h2>
                {{end}}
            </div>
        </div>

    </section>



    <section id="reper">


        <div class="container h-100">
            

            {{range $index, $val := .Site.Taxonomies.tags.reper}}
            
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-md-6 mx-auto">
                    <p class="text-white">{{.Content}}</p>
                </div>
                <div class="col-md-4">
                    <img src="{{.Page.Params.Image}}" class="img-fluid" alt="{{.Name}}">
                </div>
            </div>
            {{end}}
        </div>



    </section>

    {{partial "footer" .}}

    {{partial "scripts" .}}
    {{partial "youtube" .}}
</body>

</html>