<form name="contact" method="POST" data-netlify="true" data-netlify-recaptcha="true"
    action="{{.Site.BaseURL}}thank-you">
    <div class="form-group">
        <label style="text-align:left" for="name">Name</label>
        <input type="text" class="form-control" name="Name" placeholder="Enter your name" aria-label="Name"
            required>
    </div>
    <div class="form-group">
        <label for="contact">Contact #</label>
        <input type="tel" class="form-control" name="Contact #"
        placeholder="your 10 digit mobile no." aria-label="contact_no" minlength="10" maxlength="10"
        autocomplete="off" required>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="Email id" placeholder="abc@somemail.com" aria-label="e_mail_address" autocomplete="off" required>
    </div>
    <div class="form-group">
        <label for="message">Message</label>
        <textarea class="form-control" name="Message" placeholder="Enter your message" rows="3"
            aria-label="message" spellcheck="false" required></textarea>
    </div>
    <div data-netlify-recaptcha="true" class="recaptcha"></div>
    <input type="submit" class="btn btn-info1" value="Submit" aria-label="Submit button">
</form>