<!-- Contact Section -->
<section class="contact-section bg-black" id="footer">
    <div class="container">
        <div class="row">
            
            <div class="col-md-12 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Address</h4>
                        <hr class="my-4">
                        <div class="text-black">17, 5-A main, Obalappa Garden, KR road, Bangalore, KA - 560 070</div>
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Email</h4>
                        <hr class="my-4">
                        <div class="text-black-50">
                            <a href="mailto:info@prabhatha.com" target="_top">info@prabhatha.com</a>
                        </div>
                        <i class="fas fa-mobile-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Phone</h4>
                        <hr class="my-4">
                        <div class="text-black-50"><a href="tel:+919986881281">91-9986881281</a></div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>
<!-- Footer -->
<footer class="bg-black small text-center text-white">
    <div class="container">
        <h6>Made with <i class="fas fa-heart"></i> by <a href="https://www.tensketch.com/" class="href-a"
                aria-label="TenSketch link">TenSketch</a><br><br>Copyright &copy; Prabhat 2019</h6>
    </div>
</footer>