<footer id="footer">
    <div class="container">
        <div class="row text-white">
            <div class="col-lg-2 col-md-6">
                <h4 class="my-3"> <i class="fas fa-link text-primary mr-2"></i>links</h4>
                <hr class="my-3">
                <ul class="list-unstyled">
                    <li><a href="{{.Site.BaseURL}}">Home</a></li>
                    <li class="my-1"><a href="{{.Site.BaseURL}}about/about_prabhat/">About us</a></li>
                    <li><a href="{{.Site.BaseURL}}repertoire/home/">Performance/Repertoire</a></li>
                    <li class="my-1"><a href="{{.Site.BaseURL}}training/home/">Training</a></li>
                    <li><a href="https://www.sharatprabhath.com/">Harikatha</a></li>
                    <li class="my-1"><a href="{{.Site.BaseURL}}costumes/home/">Costumes</a></li>
                    <li><a href="{{.Site.BaseURL}}gallery/home/">Gallery & Media</a></li>
                    <li class="mt-1"><a href="{{.Site.BaseURL}}join-prabhat/register-form/">Register a
                            course</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6">
                <h4 class="my-3"><i class="fab fa-pagelines text-primary mr-2"></i>Network</h4>
                <hr class="my-3">
                <ul class="list-unstyled">
                    <li><a href="https://www.padapa.in/">PADAPA</a></li>
                    <li class="my-1"><a href="https://www.sharatprabhath.com/">Sharat R Prabhath</a></li>
                    <!-- <li><a href="https://www.prabhathauditoriums.com">Prabhat Auditoriums</a></li> -->
                    <li class="my-1"><a href="http://www.prabhathstudios.com/">Prabhat Sound Studio</a></li>
                    <li><a href="http://www.prabhathstage.com/">Prabhat Lighting and Sound System</a></li>
                    <li class="my-1"><a href="http://artoholic.co.in/">Artoholic</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-12">
                <h4 class="my-3"><i class="fas fa-map-marked-alt text-primary mr-2"></i>Reach us</h4>
                <hr class="my-3">
                <div class="mb-2"># 17, 5-A main,<br>Obalappa Garden, KR road,<br>Bangalore, KA-560 070.
                </div>
                <i class="fas fa-envelope text-primary"></i>
                <ul class="list-unstyled">
                    <li>
                        <a href="mailto:info@prabhatha.com" target="_top" aria-label="emai id of prabhat"
                            title="send email now">info@prabhatha.com</a>
                    </li>
                    <li>
                        <a href="mailto:sharatrprabhath@gmail.com" target="_top" aria-label="emai id of prabhat"
                            title="send email now">sharatrprabhath@gmail.com</a>
                    </li>
                </ul>
                <i class="fas fa-mobile-alt text-primary mt-3"></i>
                <ul class="list-unstyled">
                    <li>
                        <a href="tel:+919986881281" aria-label="mobile no of prabhat" title="call">91-9986881281</a>
                    </li>
                    <li>
                        <a href="tel:+919886576659" aria-label="mobile no of prabhat" title="call">91-9886576659</a>
                    </li>
                </ul>
                <div class="social d-flex mt-3 justify-content-center">
                    <a href="https://www.youtube.com/channel/UCJ7X3mbP2srKzgibYhw9Hrg"
                        aria-label="youtube channel of Prabhat" target="_blank" rel="noopener">
                        <i class="fab fa-youtube"></i>
                    </a>
                    <a href="https://www.facebook.com/PrabhathaDotCom" aria-label="facebook page of Prabhat"
                        target="_blank" rel="noopener" class="mx-2">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                
                <h4 class="my-3"><i class="fas fa-comment-dots text-primary mr-2"></i>Write to us</h4>
                <hr class="my-3">
                <form name="contact" method="POST" data-netlify="true" data-netlify-recaptcha="true"
                    action="/thank-you">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" name="Name" placeholder="Enter your name"
                            aria-label="Name" required>
                    </div>
                    <div class="form-group">
                        <label>Contact #</label>
                        <input type="tel" class="form-control" name="Contact #" placeholder="your 10 digit mobile no."
                            aria-label="contact_no" minlength="10" maxlength="10" autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" name="Email id" placeholder="abc@somemail.com"
                            aria-label="e_mail_address" autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <label>Message</label>
                        <textarea class="form-control" name="Message" placeholder="Enter your message" rows="2"
                            aria-label="message" spellcheck="false" required></textarea>
                    </div>
                    <div data-netlify-recaptcha="true" class="recaptcha"></div>
                    <input type="submit" class="btn btn-info1" value="Submit" aria-label="Submit button">
                </form>
            </div>
        </div>
    </div>
</footer>
<section class="bottom-footer">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-md-8 mx-auto align-self-center">
                <p class="text-center">Copyright ©
                    <script>document.write(new Date().getFullYear());</script>&nbsp;Prabhat<br>Made
                    with<i class="fa fa-heart mx-1" aria-hidden="true"></i>by&nbsp;<a href="https://www.tensketch.com/"
                        title="website developer link" aria-label="website developer link" target="_blank"
                        rel="noopener">TenSketch</a></p>
            </div>
        </div>
    </div>
</section>