<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=egde">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ if .Title }}{{ .Title }}{{ end }}</title>
    {{ if .Params.Description }}
    <meta name="description" content="{{ .Params.Description }}">
    {{ else if .Site.Params.Description }}
    <meta name="description" content="{{ .Site.Params.Description }}">
    {{ end }}
    {{ if .Params.Keywords }}
    <meta name="keywords" content="{{ .Params.Keywords }}">
    {{ else if .Site.Params.Keywords }}
    <meta name="keywords" content="{{ .Site.Params.Keywords }}">
    {{ end }}
    <!-- og meta tags -->
    <meta property="og:title" content="{{ if .Title }}{{ .Title }}{{ end }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{.Site.BaseURL}}">
    {{ if .Params.Description }}
    <meta property="og:description" content="{{ .Params.Description }}">
    {{ else if .Site.Params.Description }}
    <meta property="og:description" content="{{ .Site.Params.Description }}">
    {{ end }}
    {{ if .Params.Keywords }}
    <meta property="og:keywords" content="{{ .Params.Keywords }}">
    {{ else if .Site.Params.Keywords }}
    <meta property="og:keywords" content="{{ .Site.Params.Keywords }}">
    {{ end }}
    {{ if .Params.og_image }}
    <meta property="og:image" content="{{.Site.BaseURL}}{{ .Params.og_image | relURL }}" />
    <meta property="og:image:secure_url" content="{{ .Params.og_image | absURL }}" />
    {{ else }}
    <meta property="og:image" content="{{.Site.BaseURL}}{{ .Site.Params.og_image | relURL }}" />
    <meta property="og:image:secure_url" content="{{ .Site.Params.og_image | absURL }}" />
    {{ end }}
    <!-- favicons -->
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fontawesome-free-5.9.0-web/css/all.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="/css/grayscale.css">
    <link rel="stylesheet" href="/fancybox-2.1.7/jquery.fancybox.min.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153885482-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-153885482-1');
    </script>
    <!-- Global site tag (gtag.js) - Google Ads: 687194522 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-687194522"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'AW-687194522');
    </script>
</head>