<div class="micro"></div>

    <nav class="navbar navbar-expand-md bg-primary navbar-dark fixed-bottom d-md-none">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"
            style="color: #000">
            Costumes-Menu&nbsp;<i class="fas fa-bars"></i>
        </button>
        {{range $index, $val := .Site.Taxonomies.tags.sidebar}}
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav" style="color: #000">
                <li class="nav-item">
                    <a class="nav-link text-capitalize text-right" href="#{{.Title}}">{{.Title}}</a>
                </li>
            </ul>
        </div>
        {{end}}
    </nav>
   
    
    <div class="sidebar">
            {{range $index, $val := .Site.Taxonomies.tags.sidebar}}
        <a class="text-capitalize" href="#{{.Title}}">{{.Page.Title}}</a>
        {{end}}
    </div>
    